# Designing and Creating a Database

### First investigate the data fields

In [1]:
!cat game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


### Setup environment and import data

In [2]:
import pandas as pd
import sqlite3

#set display parameters due to large data size
pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

In [3]:
game_log = pd.read_csv('game_log.csv',low_memory=False)
print(game_log.shape)

(171907, 161)

In [4]:
print(game_log.head())

       date  number_of_game day_of_week v_name v_league  v_game_number h_name  \
0  18710504               0         Thu    CL1      NaN              1    FW1
1  18710505               0         Fri    BS1      NaN              1    WS3
2  18710506               0         Sat    CL1      NaN              2    RC1
3  18710508               0         Mon    CL1      NaN              3    CH1
4  18710509               0         Tue    BS1      NaN              2    TRO

  h_league  h_game_number  v_score  h_score  length_outs day_night completion  \
0      NaN              1        0        2         54.0         D        NaN
1      NaN              1       20       18         54.0         D        NaN
2      NaN              1       12        4         54.0         D        NaN
3      NaN              1       12       14         54.0         D        NaN
4      NaN              1        9        5         54.0         D        NaN

  forefeit protest park_id  attendance  length_minutes v_line_score  \
0      NaN     NaN   FOR01       200.0           120.0    000000000
1      NaN     NaN   WAS01      5000.0           145.0    107000435
2      NaN     NaN   RCK01      1000.0           140.0    610020003
3      NaN     NaN   CHI01      5000.0           150.0    101403111
4      NaN     NaN   TRO01      3250.0           145.0    000002232

  h_line_score  v_at_bats  v_hits  v_doubles  v_triples  v_homeruns  v_rbi  \
0    010010000       30.0     4.0        1.0        0.0         0.0    0.0
1    640113030       41.0    13.0        1.0        2.0         0.0   13.0
2    010020100       49.0    11.0        1.0        1.0         0.0    8.0
3    077000000       46.0    15.0        2.0        1.0         2.0   10.0
4    101003000       46.0    17.0        4.0        1.0         0.0    6.0

   v_sacrifice_hits  v_sacrifice_flies  v_hit_by_pitch  v_walks  \
0               0.0                0.0             0.0      1.0
1               0.0                0.0             0.0     18.0
2               0.0                0.0             0.0      0.0
3               0.0                0.0             0.0      0.0
4               0.0                0.0             0.0      2.0

   v_intentional_walks  v_strikeouts  v_stolen_bases  v_caught_stealing  \
0                  NaN           6.0             1.0                NaN
1                  NaN           5.0             3.0                NaN
2                  NaN           1.0             0.0                NaN
3                  NaN           1.0             0.0                NaN
4                  NaN           0.0             1.0                NaN

   v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
0                    -1.0                           NaN             4.0
1                    -1.0                           NaN            12.0
2                    -1.0                           NaN            10.0
3                    -1.0                           NaN             7.0
4                    -1.0                           NaN            12.0

   v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
0              1.0                       1.0                 1.0
1              1.0                       6.0                 6.0
2              1.0                       0.0                 0.0
3              1.0                       6.0                 6.0
4              1.0                       2.0                 2.0

   v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  v_passed_balls  \
0             0.0      0.0       27.0        9.0       0.0             3.0
1             1.0      0.0       27.0       13.0      10.0             1.0
2             2.0      0.0       27.0       12.0       8.0             5.0
3             0.0      0.0       27.0       15.0      11.0             6.0
4             0.0      0.0       27.0       12.0       5.0             0.0

   v_double_plays  v_triple_plays  h_at_bats  h_hits  h_doubles  h_triples  \
0             0.0             0.0       31.0     4.0        1.0        0.0
1             2.0             0.0       49.0    14.0        2.0        0.0
2             0.0             0.0       36.0     7.0        2.0        1.0
3             0.0             0.0       43.0    11.0        2.0        0.0
4             1.0             0.0       36.0     9.0        0.0        0.0

   h_homeruns  h_rbi  h_sacrifice_hits  h_sacrifice_flies  h_hit_by_pitch  \
0         0.0    2.0               0.0                0.0             0.0
1         0.0   11.0               0.0                0.0             0.0
2         0.0    2.0               0.0                0.0             0.0
3         0.0    8.0               0.0                0.0             0.0
4         0.0    2.0               0.0                0.0             0.0

   h_walks  h_intentional_walks  h_strikeouts  h_stolen_bases  \
0      1.0                  NaN           0.0             0.0
1     10.0                  NaN           2.0             1.0
2      0.0                  NaN           3.0             5.0
3      4.0                  NaN           2.0             1.0
4      3.0                  NaN           0.0             2.0

   h_caught_stealing  h_grounded_into_double  h_first_catcher_interference  \
0                NaN                    -1.0                           NaN
1                NaN                    -1.0                           NaN
2                NaN                    -1.0                           NaN
3                NaN                    -1.0                           NaN
4                NaN                    -1.0                           NaN

   h_left_on_base  h_pitchers_used  h_individual_earned_runs  \
0             3.0              1.0                       0.0
1            14.0              1.0                       7.0
2             5.0              1.0                       3.0
3             6.0              1.0                       4.0
4             7.0              1.0                       3.0

   h_team_earned_runs  h_wild_pitches  h_balks  h_putouts  h_assists  \
0                 0.0             0.0      0.0       27.0        3.0
1                 7.0             0.0      0.0       27.0       20.0
2                 3.0             1.0      0.0       27.0       12.0
3                 4.0             0.0      0.0       27.0       14.0
4                 3.0             1.0      0.0       27.0       11.0

   h_errors  h_passed_balls  h_double_plays  h_triple_plays hp_umpire_id  \
0       3.0             1.0             1.0             0.0     boakj901
1      10.0             2.0             3.0             0.0     dobsh901
2      13.0             3.0             0.0             0.0     mawnj901
3       7.0             2.0             0.0             0.0     willg901
4       7.0             3.0             0.0             0.0     leroi901

    hp_umpire_name 1b_umpire_id 1b_umpire_name 2b_umpire_id 2b_umpire_name  \
0       John Boake          NaN            NaN          NaN            NaN
1     Henry Dobson          NaN            NaN          NaN            NaN
2       J.H. Manny          NaN            NaN          NaN            NaN
3  Gardner Willard          NaN            NaN          NaN            NaN
4      Isaac Leroy          NaN            NaN          NaN            NaN

  3b_umpire_id 3b_umpire_name lf_umpire_id lf_umpire_name rf_umpire_id  \
0          NaN            NaN          NaN            NaN          NaN
1          NaN            NaN          NaN            NaN          NaN
2          NaN            NaN          NaN            NaN          NaN
3          NaN            NaN          NaN            NaN          NaN
4          NaN            NaN          NaN            NaN          NaN

  rf_umpire_name v_manager_id v_manager_name h_manager_id  h_manager_name  \
0            NaN     paboc101  Charlie Pabor     lennb101     Bill Lennon
1            NaN     wrigh101   Harry Wright     younn801      Nick Young
2            NaN     paboc101  Charlie Pabor     hasts101  Scott Hastings
3            NaN     paboc101  Charlie Pabor     woodj106      Jimmy Wood
4            NaN     wrigh101   Harry Wright     pikel101        Lip Pike

  winning_pitcher_id winning_pitcher_name losing_pitcher_id  \
0           mathb101        Bobby Mathews          prata101
1           spala101          Al Spalding          braia102
2           prata101             Al Pratt          fishc102
3           zettg101      George Zettlein          prata101
4           spala101          Al Spalding          mcmuj101

  losing_pitcher_name saving_pitcher_id saving_pitcher_name  \
0            Al Pratt               NaN                 NaN
1        Asa Brainard               NaN                 NaN
2     Cherokee Fisher               NaN                 NaN
3            Al Pratt               NaN                 NaN
4       John McMullin               NaN                 NaN

  winning_rbi_batter_id winning_rbi_batter_id_name v_starting_pitcher_id  \
0                   NaN                        NaN              prata101
1                   NaN                        NaN              spala101
2                   NaN                        NaN              prata101
3                   NaN                        NaN              prata101
4                   NaN                        NaN              spala101

  v_starting_pitcher_name h_starting_pitcher_id h_starting_pitcher_name  \
0                Al Pratt              mathb101           Bobby Mathews
1             Al Spalding              braia102            Asa Brainard
2                Al Pratt              fishc102         Cherokee Fisher
3                Al Pratt              zettg101         George Zettlein
4             Al Spalding              mcmuj101           John McMullin

  v_player_1_id v_player_1_name  v_player_1_def_pos v_player_2_id  \
0      whitd102    Deacon White                 2.0      kimbg101
1      wrigg101   George Wright                 6.0      barnr102
2      whitd102    Deacon White                 2.0      kimbg101
3      whitd102    Deacon White                 2.0      kimbg101
4      wrigg101   George Wright                 6.0      barnr102

  v_player_2_name  v_player_2_def_pos v_player_3_id v_player_3_name  \
0    Gene Kimball                 4.0      paboc101   Charlie Pabor
1     Ross Barnes                 4.0      birdd102   Dave Birdsall
2    Gene Kimball                 4.0      paboc101   Charlie Pabor
3    Gene Kimball                 4.0      paboc101   Charlie Pabor
4     Ross Barnes                 4.0      birdd102   Dave Birdsall

   v_player_3_def_pos v_player_4_id v_player_4_name  v_player_4_def_pos  \
0                 7.0      allia101     Art Allison                 8.0
1                 9.0      mcvec101       Cal McVey                 2.0
2                 7.0      allia101     Art Allison                 8.0
3                 7.0      allia101     Art Allison                 8.0
4                 9.0      mcvec101       Cal McVey                 2.0

  v_player_5_id v_player_5_name  v_player_5_def_pos v_player_6_id  \
0      white104     Elmer White                 9.0      prata101
1      wrigh101    Harry Wright                 8.0      goulc101
2      white104     Elmer White                 9.0      prata101
3      white104     Elmer White                 9.0      prata101
4      wrigh101    Harry Wright                 8.0      goulc101

  v_player_6_name  v_player_6_def_pos v_player_7_id v_player_7_name  \
0        Al Pratt                 1.0      sutte101     Ezra Sutton
1   Charlie Gould                 3.0      schah101   Harry Schafer
2        Al Pratt                 1.0      sutte101     Ezra Sutton
3        Al Pratt                 1.0      sutte101     Ezra Sutton
4   Charlie Gould                 3.0      schah101   Harry Schafer

   v_player_7_def_pos v_player_8_id v_player_8_name  v_player_8_def_pos  \
0                 5.0      carlj102    Jim Carleton                 3.0
1                 5.0      conef101       Fred Cone                 7.0
2                 5.0      carlj102    Jim Carleton                 3.0
3                 5.0      carlj102    Jim Carleton                 3.0
4                 5.0      conef101       Fred Cone                 7.0

  v_player_9_id v_player_9_name  v_player_9_def_pos h_player_1_id  \
0      bassj101       John Bass                 6.0      selmf101
1      spala101     Al Spalding                 1.0      watef102
2      bassj101       John Bass                 6.0      mackd101
3      bassj101       John Bass                 6.0      mcatb101
4      spala101     Al Spalding                 1.0      flync101

  h_player_1_name  h_player_1_def_pos h_player_2_id h_player_2_name  \
0   Frank Sellman                 5.0      mathb101   Bobby Mathews
1   Fred Waterman                 5.0      forcd101      Davy Force
2      Denny Mack                 3.0      addyb101        Bob Addy
3      Bub McAtee                 3.0      kingm101   Marshall King
4   Clipper Flynn                 9.0      mcgem101    Mike McGeary

   h_player_2_def_pos h_player_3_id  h_player_3_name  h_player_3_def_pos  \
0                 1.0      foraj101        Jim Foran                 3.0
1                 6.0      mille105    Everett Mills                 3.0
2                 4.0      fishc102  Cherokee Fisher                 1.0
3                 8.0      hodec101    Charlie Hodes                 2.0
4                 2.0      yorkt101         Tom York                 8.0

  h_player_4_id  h_player_4_name  h_player_4_def_pos h_player_5_id  \
0      goldw101  Wally Goldsmith                 6.0      lennb101
1      allid101     Doug Allison                 2.0      hallg101
2      hasts101   Scott Hastings                 8.0      ham-r101
3      woodj106       Jimmy Wood                 4.0      simmj101
4      mcmuj101    John McMullin                 1.0      kings101

  h_player_5_name  h_player_5_def_pos h_player_6_id h_player_6_name  \
0     Bill Lennon                 2.0      caret101       Tom Carey
1     George Hall                 7.0      leona101    Andy Leonard
2       Ralph Ham                 5.0      ansoc101       Cap Anson
3     Joe Simmons                 9.0      folet101       Tom Foley
4      Steve King                 7.0      beave101  Edward Beavens

   h_player_6_def_pos h_player_7_id h_player_7_name  h_player_7_def_pos  \
0                 4.0      mince101      Ed Mincher                 7.0
1                 4.0      braia102    Asa Brainard                 1.0
2                 2.0      sagep101      Pony Sager                 6.0
3                 7.0      duffe101        Ed Duffy                 6.0
4                 4.0      bells101    Steve Bellan                 5.0

  h_player_8_id  h_player_8_name  h_player_8_def_pos h_player_9_id  \
0      mcdej101  James McDermott                 8.0      kellb105
1      burrh101  Henry Burroughs                 9.0      berth101
2      birdg101      George Bird                 7.0      stirg101
3      pinke101       Ed Pinkham                 5.0      zettg101
4      pikel101         Lip Pike                 3.0      cravb101

   h_player_9_name  h_player_9_def_pos additional_info acquisition_info
0       Bill Kelly                 9.0             NaN                Y
1  Henry Berthrong                 8.0            HTBF                Y
2       Gat Stires                 9.0             NaN                Y
3  George Zettlein                 1.0             NaN                Y
4      Bill Craver                 6.0            HTBF                Y

In [5]:
print(game_log.tail())

            date  number_of_game day_of_week v_name v_league  v_game_number  \
171902  20161002               0         Sun    MIL       NL            162
171903  20161002               0         Sun    NYN       NL            162
171904  20161002               0         Sun    LAN       NL            162
171905  20161002               0         Sun    PIT       NL            162
171906  20161002               0         Sun    MIA       NL            161

       h_name h_league  h_game_number  v_score  h_score  length_outs  \
171902    COL       NL            162        6        4         60.0
171903    PHI       NL            162        2        5         51.0
171904    SFN       NL            162        1        7         51.0
171905    SLN       NL            162        4       10         51.0
171906    WAS       NL            162        7       10         51.0

       day_night completion forefeit protest park_id  attendance  \
171902         D        NaN      NaN     NaN   DEN02     27762.0
171903         D        NaN      NaN     NaN   PHI13     36935.0
171904         D        NaN      NaN     NaN   SFO03     41445.0
171905         D        NaN      NaN     NaN   STL10     44615.0
171906         D        NaN      NaN     NaN   WAS11     28730.0

        length_minutes v_line_score h_line_score  v_at_bats  v_hits  \
171902           203.0   0200000202   1100100010       39.0    10.0
171903           159.0    000001100    00100031x       33.0     8.0
171904           184.0    000100000    23000002x       30.0     4.0
171905           192.0    000020200    00100360x       35.0     9.0
171906           216.0    000230020    03023002x       38.0    14.0

        v_doubles  v_triples  v_homeruns  v_rbi  v_sacrifice_hits  \
171902        4.0        1.0         2.0    6.0               0.0
171903        3.0        0.0         0.0    2.0               0.0
171904        0.0        0.0         0.0    1.0               0.0
171905        0.0        0.0         1.0    4.0               0.0
171906        1.0        1.0         2.0    7.0               1.0

        v_sacrifice_flies  v_hit_by_pitch  v_walks  v_intentional_walks  \
171902                0.0             1.0      4.0                  0.0
171903                0.0             0.0      2.0                  0.0
171904                0.0             0.0      2.0                  0.0
171905                0.0             0.0      4.0                  0.0
171906                0.0             0.0      3.0                  2.0

        v_strikeouts  v_stolen_bases  v_caught_stealing  \
171902          12.0             2.0                1.0
171903           9.0             1.0                1.0
171904           7.0             0.0                0.0
171905          11.0             0.0                1.0
171906          10.0             1.0                1.0

        v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
171902                     0.0                           0.0             8.0
171903                     1.0                           0.0             6.0
171904                     1.0                           0.0             4.0
171905                     0.0                           0.0             8.0
171906                     1.0                           0.0             8.0

        v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
171902              7.0                       4.0                 4.0
171903              6.0                       3.0                 3.0
171904              7.0                       7.0                 7.0
171905              6.0                       8.0                 8.0
171906              7.0                      10.0                10.0

        v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  \
171902             1.0      0.0       30.0       12.0       1.0
171903             0.0      0.0       24.0       12.0       3.0
171904             0.0      0.0       24.0        5.0       1.0
171905             0.0      0.0       24.0        2.0       2.0
171906             1.0      0.0       24.0       11.0       0.0

        v_passed_balls  v_double_plays  v_triple_plays  h_at_bats  h_hits  \
171902             0.0             0.0             0.0       41.0    13.0
171903             1.0             2.0             0.0       33.0    10.0
171904             0.0             0.0             0.0       39.0    16.0
171905             0.0             0.0             0.0       36.0    12.0
171906             0.0             1.0             0.0       30.0    10.0

        h_doubles  h_triples  h_homeruns  h_rbi  h_sacrifice_hits  \
171902        4.0        0.0         1.0    4.0               1.0
171903        1.0        0.0         0.0    3.0               0.0
171904        3.0        1.0         0.0    7.0               0.0
171905        2.0        0.0         1.0   10.0               0.0
171906        2.0        0.0         1.0   10.0               1.0

        h_sacrifice_flies  h_hit_by_pitch  h_walks  h_intentional_walks  \
171902                0.0             1.0      3.0                  0.0
171903                1.0             0.0      2.0                  0.0
171904                0.0             0.0      4.0                  1.0
171905                2.0             0.0      4.0                  0.0
171906                1.0             1.0      8.0                  0.0

        h_strikeouts  h_stolen_bases  h_caught_stealing  \
171902          11.0             0.0                1.0
171903           3.0             0.0                0.0
171904          11.0             2.0                1.0
171905           5.0             0.0                0.0
171906           3.0             2.0                0.0

        h_grounded_into_double  h_first_catcher_interference  h_left_on_base  \
171902                     0.0                           0.0            12.0
171903                     2.0                           0.0             7.0
171904                     0.0                           0.0            12.0
171905                     0.0                           0.0             8.0
171906                     1.0                           0.0             7.0

        h_pitchers_used  h_individual_earned_runs  h_team_earned_runs  \
171902              5.0                       6.0                 6.0
171903              5.0                       2.0                 2.0
171904              2.0                       1.0                 1.0
171905              3.0                       4.0                 4.0
171906              6.0                       7.0                 7.0

        h_wild_pitches  h_balks  h_putouts  h_assists  h_errors  \
171902             0.0      0.0       30.0       13.0       0.0
171903             0.0      0.0       27.0        7.0       0.0
171904             0.0      0.0       27.0        7.0       0.0
171905             0.0      0.0       27.0        7.0       0.0
171906             1.0      0.0       27.0       11.0       0.0

        h_passed_balls  h_double_plays  h_triple_plays hp_umpire_id  \
171902             0.0             0.0             0.0     barrs901
171903             0.0             1.0             0.0     barkl901
171904             0.0             1.0             0.0     knigb901
171905             0.0             1.0             0.0     cuzzp901
171906             0.0             1.0             0.0     tumpj901

         hp_umpire_name 1b_umpire_id   1b_umpire_name 2b_umpire_id  \
171902      Scott Barry     woodt901     Tom Woodring     randt901
171903  Lance Barksdale     herna901  Angel Hernandez     barrt901
171904     Brian Knight     westj901         Joe West     fleta901
171905       Phil Cuzzi     ticht901    Todd Tichenor     vanol901
171906     John Tumpane     porta901      Alan Porter     onorb901

       2b_umpire_name 3b_umpire_id   3b_umpire_name lf_umpire_id  \
171902  Tony Randazzo     ortir901    Roberto Ortiz          NaN
171903    Ted Barrett     littw901      Will Little          NaN
171904  Andy Fletcher     danlk901    Kerwin Danley          NaN
171905  Larry Vanover     marqa901  Alfonso Marquez          NaN
171906   Brian O'Nora     kellj901     Jeff Kellogg          NaN

       lf_umpire_name rf_umpire_id rf_umpire_name v_manager_id  \
171902            NaN          NaN            NaN     counc001
171903            NaN          NaN            NaN     collt801
171904            NaN          NaN            NaN     robed001
171905            NaN          NaN            NaN     hurdc001
171906            NaN          NaN            NaN     mattd001

        v_manager_name h_manager_id h_manager_name winning_pitcher_id  \
171902  Craig Counsell     weisw001     Walt Weiss           thort001
171903   Terry Collins     mackp101  Pete Mackanin           murrc002
171904    Dave Roberts     bochb002    Bruce Bochy           moorm003
171905    Clint Hurdle     mathm001   Mike Matheny           broxj001
171906   Don Mattingly     baked002    Dusty Baker           schem001

       winning_pitcher_name losing_pitcher_id losing_pitcher_name  \
171902      Tyler Thornburg          rusic001         Chris Rusin
171903        Colton Murray          goede001        Erik Goeddel
171904           Matt Moore          maedk001         Kenta Maeda
171905     Jonathan Broxton          nicaj001        Juan Nicasio
171906         Max Scherzer          brica001        Austin Brice

       saving_pitcher_id saving_pitcher_name winning_rbi_batter_id  \
171902          knebc001        Corey Knebel              susaa001
171903          nerih001        Hector Neris              hernc005
171904               NaN                 NaN              poseb001
171905               NaN                 NaN              piscs001
171906          melam001       Mark Melancon              difow001

       winning_rbi_batter_id_name v_starting_pitcher_id  \
171902               Andrew Susac              cravt001
171903            Cesar Hernandez              ynoag001
171904               Buster Posey              maedk001
171905           Stephen Piscotty              voger001
171906                Wilmer Difo              koeht001

       v_starting_pitcher_name h_starting_pitcher_id h_starting_pitcher_name  \
171902             Tyler Cravy              marqg001          German Marquez
171903            Gabriel Ynoa              eickj001          Jerad Eickhoff
171904             Kenta Maeda              moorm003              Matt Moore
171905          Ryan Vogelsong              waina001         Adam Wainwright
171906             Tom Koehler              schem001            Max Scherzer

       v_player_1_id    v_player_1_name  v_player_1_def_pos v_player_2_id  \
171902      villj001    Jonathan Villar                 5.0      genns001
171903      granc001  Curtis Granderson                 8.0      cabra002
171904      kendh001     Howie Kendrick                 7.0      turnj001
171905      jasoj001          John Jaso                 3.0      polag001
171906      gordd002         Dee Gordon                 4.0      telit001

         v_player_2_name  v_player_2_def_pos v_player_3_id   v_player_3_name  \
171902   Scooter Gennett                 4.0      cartc002      Chris Carter
171903  Asdrubal Cabrera                 6.0      brucj001         Jay Bruce
171904     Justin Turner                 5.0      seagc001      Corey Seager
171905   Gregory Polanco                 9.0      mccua001  Andrew McCutchen
171906       Tomas Telis                 2.0      pradm001      Martin Prado

        v_player_3_def_pos v_player_4_id   v_player_4_name  \
171902                 3.0      santd002   Domingo Santana
171903                 9.0      dudal001        Lucas Duda
171904                 6.0      puigy001       Yasiel Puig
171905                 8.0      kangj001      Jung Ho Kang
171906                 5.0      yelic001  Christian Yelich

        v_player_4_def_pos v_player_5_id  v_player_5_name  v_player_5_def_pos  \
171902                 9.0      pereh001     Hernan Perez                 8.0
171903                 3.0      johnk003    Kelly Johnson                 4.0
171904                 9.0      gonza003  Adrian Gonzalez                 3.0
171905                 5.0      joycm001       Matt Joyce                 7.0
171906                 8.0      bourj002      Justin Bour                 3.0

       v_player_6_id   v_player_6_name  v_player_6_def_pos v_player_7_id  \
171902      arcio002     Orlando Arcia                 6.0      susaa001
171903      confm001  Michael Conforto                 7.0      campe001
171904      grany001   Yasmani Grandal                 2.0      pedej001
171905      hansa001       Alen Hanson                 4.0      fryee001
171906      scrux001    Xavier Scruggs                 7.0      hoodd001

       v_player_7_name  v_player_7_def_pos v_player_8_id     v_player_8_name  \
171902    Andrew Susac                 2.0      elmoj001         Jake Elmore
171903   Eric Campbell                 5.0      plawk001      Kevin Plawecki
171904    Joc Pederson                 8.0      utlec001         Chase Utley
171905      Eric Fryer                 2.0      florp001      Pedro Florimon
171906     Destin Hood                 9.0      hecha001  Adeiny Hechavarria

        v_player_8_def_pos v_player_9_id v_player_9_name  v_player_9_def_pos  \
171902                 7.0      cravt001     Tyler Cravy                 1.0
171903                 2.0      ynoag001    Gabriel Ynoa                 1.0
171904                 4.0      maedk001     Kenta Maeda                 1.0
171905                 6.0      voger001  Ryan Vogelsong                 1.0
171906                 6.0      koeht001     Tom Koehler                 1.0

       h_player_1_id   h_player_1_name  h_player_1_def_pos h_player_2_id  \
171902      blacc001  Charlie Blackmon                 8.0      dahld001
171903      hernc005   Cesar Hernandez                 4.0      parej002
171904      spand001       Denard Span                 8.0      beltb001
171905      carpm002    Matt Carpenter                 3.0      diaza003
171906      turnt001       Trea Turner                 8.0      reveb001

       h_player_2_name  h_player_2_def_pos h_player_3_id h_player_3_name  \
171902      David Dahl                 7.0      arenn001   Nolan Arenado
171903   Jimmy Paredes                 7.0      herro001  Odubel Herrera
171904    Brandon Belt                 3.0      poseb001    Buster Posey
171905    Aledmys Diaz                 6.0      moliy001   Yadier Molina
171906      Ben Revere                 7.0      harpb003    Bryce Harper

        h_player_3_def_pos h_player_4_id   h_player_4_name  \
171902                 5.0      gonzc001   Carlos Gonzalez
171903                 8.0      franm004     Maikel Franco
171904                 2.0      pench001      Hunter Pence
171905                 2.0      piscs001  Stephen Piscotty
171906                 9.0      zimmr001    Ryan Zimmerman

        h_player_4_def_pos h_player_5_id   h_player_5_name  \
171902                 9.0      murpt002        Tom Murphy
171903                 5.0      howar001       Ryan Howard
171904                 9.0      crawb001  Brandon Crawford
171905                 9.0      peraj001    Jhonny Peralta
171906                 3.0      drews001      Stephen Drew

        h_player_5_def_pos h_player_6_id   h_player_6_name  \
171902                 2.0      pattj005  Jordan Patterson
171903                 3.0      ruppc001      Cameron Rupp
171904                 6.0      pagaa001       Angel Pagan
171905                 5.0      mossb001      Brandon Moss
171906                 5.0      difow001       Wilmer Difo

        h_player_6_def_pos h_player_7_id h_player_7_name  h_player_7_def_pos  \
171902                 3.0      valap001     Pat Valaika                 4.0
171903                 2.0      blana001   Andres Blanco                 6.0
171904                 7.0      panij002       Joe Panik                 4.0
171905                 7.0      gyorj001     Jedd Gyorko                 4.0
171906                 4.0      espid001  Danny Espinosa                 6.0

       h_player_8_id   h_player_8_name  h_player_8_def_pos h_player_9_id  \
171902      adamc001  Cristhian Adames                 6.0      marqg001
171903      altha001     Aaron Altherr                 9.0      eickj001
171904      gillc001   Conor Gillaspie                 5.0      moorm003
171905      gricr001    Randal Grichuk                 8.0      waina001
171906      lobaj001      Jose Lobaton                 2.0      schem001

        h_player_9_name  h_player_9_def_pos additional_info acquisition_info
171902   German Marquez                 1.0             NaN                Y
171903   Jerad Eickhoff                 1.0             NaN                Y
171904       Matt Moore                 1.0             NaN                Y
171905  Adam Wainwright                 1.0             NaN                Y
171906     Max Scherzer                 1.0             NaN                Y

### Description of `game_log`
The data in `game_log` represents each of the game played between 1871/05/04 and 2016/10/02 - for a total of 171906 games.

The columns reflects the `game_log_fields.txt` that we explored earlier.

The data also recorded the defensive positions for the starting players with the following:
1 (pitcher), 2 (catcher), 3 (first baseman), 4 (second baseman), 5 (third baseman), 6 (shortstop), 7 (left fielder), 8 (center fielder), and 9 (right fielder)
___

In [6]:
park_codes = pd.read_csv('park_codes.csv')

In [7]:
print(park_codes.shape)

(252, 9)

In [8]:
print(park_codes.head())

  park_id                           name  \
0   ALB01                 Riverside Park
1   ALT01                  Columbia Park
2   ANA01       Angel Stadium of Anaheim
3   ARL01              Arlington Stadium
4   ARL02  Rangers Ballpark in Arlington

                                        aka       city state       start  \
0                                       NaN     Albany    NY  09/11/1880
1                                       NaN    Altoona    PA  04/30/1884
2             Edison Field; Anaheim Stadium    Anaheim    CA  04/19/1966
3                                       NaN  Arlington    TX  04/21/1972
4  The Ballpark in Arlington; Ameriquest Fl  Arlington    TX  04/11/1994

          end league                                           notes
0  05/30/1882     NL  TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1  05/31/1884     UA                                             NaN
2         NaN     AL                                             NaN
3  10/03/1993     AL                                             NaN
4         NaN     AL                                             NaN

In [9]:
print(park_codes.tail())

    park_id                                 name  aka           city state  \
247   WIL02        BB&T Ballpark at Bowman Field  NaN    Wiliamsport    PA
248   WNY01     West New York Field Club Grounds  NaN  West New York    NJ
249   WOR01   Agricultural County Fair Grounds I  NaN      Worcester    MA
250   WOR02  Agricultural County Fair Grounds II  NaN      Worcester    MA
251   WOR03       Worcester Driving Park Grounds  NaN      Worcester    MA

          start         end league  \
247  08/20/2017  08/20/2017     NL
248  09/11/1898  09/17/1899     NL
249  05/01/1880  09/29/1882     NL
250  08/17/1887  08/17/1887     NL
251  10/30/1874  10/30/1874    NaN

                                                      notes
247                                                     PIT
248  BRO:9/18&10/2/1898; NY1:9/11/98, 6/4&7/16&8/13&9/17/99
249                                                     NaN
250                                              1 BSN game
251                                              1 BS1 game

### Description of `park_codes`
The data in `park_codes` represents the information for each of the baseball park - names, cities, states, dates in operation, and which leagues they belong to.

There are 251 parks within the data.

The data can be linked with the game_log dataframe via the `park_id` column.
___

In [10]:
person_codes = pd.read_csv('person_codes.csv')

In [11]:
print(person_codes.shape)

(20494, 7)

In [12]:
print(person_codes.head())

         id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN

In [13]:
print(person_codes.tail())

             id      last   first player_debut mgr_debut coach_debut ump_debut
20489  zuvep001   Zuvella    Paul   09/04/1982       NaN  04/02/1996       NaN
20490  zuveg101  Zuverink  George   04/21/1951       NaN         NaN       NaN
20491  zwild101  Zwilling   Dutch   08/14/1910       NaN  04/15/1941       NaN
20492  zycht001      Zych    Tony   09/04/2015       NaN         NaN       NaN
20493  thoma102  Thompson     NaN          NaN       NaN         NaN       NaN

### Description of `person_codes`
The data holds the id, name, debut date (as player, manager, coach, or umpire), for a total of 20493 people.

The data can be linked to the `game_log` via the `id` column in `person_code` and the various players/coaches/umpires fields in `game_log`.
___

In [14]:
team_codes = pd.read_csv('team_codes.csv')

In [15]:
print(team_codes.shape)

(150, 8)

In [16]:
print(team_codes.head())

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1

In [17]:
print(team_codes.tail())

    team_id league  start   end        city   nickname franch_id  seq
145     WS8     NL   1886  1889  Washington   Senators       WS8    1
146     WS9     AA   1891  1891  Washington   Senators       WS9    1
147     WSN     NL   1892  1899  Washington   Senators       WS9    2
148     WSU     UA   1884  1884  Washington  Nationals       WSU    1
149     MIA     NL   2012     0       Miami    Marlins       FLO    2

### Description of `team_codes`
The data in `team_codes` holds the name, league, active years, city, and id, for a total of 149 team.

The `team_id` column in `team_codes` can be linked with various team related fields (visiting team, home team) in `game_log`
___

### Setup SQLite3 environment and functions

In [18]:
# define database filename
db = 'mlb.db'

# a function to run query directly
def run_query(q):
    with sqlite3.connect(db) as conn:
        return pd.read_sql(q, conn)

# a function to run and not return the query
def run_command(c):
    with sqlite3.connect(db) as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c)

def show_tables():
    q = '''
    SELECT
        name,
        type
    FROM sqlite_master
    WHERE type IN ("table","view");
    '''
    return run_query(q)

### Create tables in the database

In [19]:
with sqlite3.connect(db) as conn:
    conn.execute("DROP TABLE IF EXISTS {};".format('game_log'))
    game_log.to_sql('game_log', conn, index=False)

In [20]:
with sqlite3.connect(db) as conn:
    conn.execute("DROP TABLE IF EXISTS {};".format('park_codes'))
    conn.execute("DROP TABLE IF EXISTS {};".format('person_codes'))
    conn.execute("DROP TABLE IF EXISTS {};".format('team_codes'))
    park_codes.to_sql('park_codes', conn, index=False)
    person_codes.to_sql('person_codes', conn, index=False)
    team_codes.to_sql('team_codes', conn, index=False)

In [21]:
# check tables are created
show_tables()

           name   type
0      game_log  table
1    park_codes  table
2  person_codes  table
3    team_codes  table

### Create unique `game_id` for the table `game_log`

In [22]:
# create the column (no values yet)
run_command('''
ALTER TABLE game_log
ADD COLUMN game_id TEXT;
''')

In [23]:
# populate with values
q = ('''
UPDATE game_log
SET
    game_id = date || h_name || number_of_game
''')
run_command(q)

In [24]:
# check the game_id is properly created
q1 = ('''
SELECT
    game_id,
    h_name,
    date,
    number_of_game
FROM game_log
LIMIT 10;
''')

run_query(q1)

        game_id h_name      date  number_of_game
0  18710504FW10    FW1  18710504               0
1  18710505WS30    WS3  18710505               0
2  18710506RC10    RC1  18710506               0
3  18710508CH10    CH1  18710508               0
4  18710509TRO0    TRO  18710509               0
5  18710511CL10    CL1  18710511               0
6  18710513CL10    CL1  18710513               0
7  18710513FW10    FW1  18710513               0
8  18710515FW10    FW1  18710515               0
9  18710516BS10    BS1  18710516               0

___
### Database Normalization
We want to build a database from the four dataframes - 
- `game_log`
- `park_codes`
- `person_codes`
- `team_codes`

Among these tables, we noticed that there are opportunities for normalization:
#### `game_log`
- `v_league` / `h_league` is redundant, as already present in `team_codes`
- fields relating to the names of umpires, managers, and players are redundant, as already present in `person_codes`
- players' names and defensive positions are recorded over multiple iterations
- the above observation also applies to umpire related fields
- the data granualarity is set to team level and lost at the player level

#### `park_codes`
- `start` and `end` can be derived from `game_log`
- `league` can be derived from `game_log` and `team_codes`

#### `person_codes`
- the various debut fields can be derived from `game_log`

#### `team_codes`
- `start` and `end` can be derived from `game_log`

### Proposed Schema
With the above observations in mind, this is the proposed schema for the database:
![Proposed schema](http://clarkhsu.info/wp-content/uploads/2018/03/mlb_schema_revised.png)
___

#### Create and populate `person` table

In [25]:
# create `person` table
construct_person = '''
CREATE TABLE IF NOT EXISTS person (
    person_id TEXT PRIMARY KEY,
    first_name TEXT,
    last_name TEXT);
'''

# populate `person` with data from `person_codes`
populate_person = '''
INSERT OR IGNORE INTO person
SELECT
    id,
    first,
    last
FROM person_codes;
'''

# execute
try:
    run_command(construct_person)
except:
    print('construction failed')

try:
    run_command(populate_person)
except:
    print('populate person failed')

In [26]:
# check `person` table
check_person = ('''
SELECT *
FROM person
LIMIT 10
''')
run_query(check_person)

  person_id first_name    last_name
0  aardd001      David      Aardsma
1  aaroh101       Hank        Aaron
2  aarot101     Tommie        Aaron
3  aased001        Don         Aase
4  abada001       Andy         Abad
5  abadf001   Fernando         Abad
6  abadj101       John       Abadie
7  abbae101         Ed  Abbaticchio
8  abbeb101       Bert        Abbey
9  abbec101    Charlie        Abbey

#### Create and populate `park` table

In [27]:
# create `park` table
construct_park = '''
CREATE TABLE IF NOT EXISTS park (
    park_id TEXT PRIMARY KEY,
    name TEXT,
    nickname TEXT,
    city TEXT,
    state TEXT,
    notes TEXT);
'''

# populate `park` with data from `park_codes`
populate_park = '''
INSERT OR IGNORE INTO park
SELECT
    park_id,
    name,
    aka,
    city,
    state,
    notes
FROM park_codes;
'''

# execute
try:
    run_command(construct_park)
except:
    print('construction failed')

try:
    run_command(populate_park)
except:
    print('populate park failed')

In [28]:
# check `park` table
check_park = ('''
SELECT *
FROM park
LIMIT 10
''')
run_query(check_park)

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None
5,ATL01,Atlanta-Fulton County Stadium,None,Atlanta,GA,None
6,ATL02,Turner Field,None,Atlanta,GA,None
7,ATL03,Suntrust Park,None,Atlanta,GA,None
8,BAL01,Madison Avenue Grounds,None,Baltimore,MD,WS3
9,BAL02,Newington Park,None,Baltimore,MD,BL1:1872-74; BL4:1873; BL2: 1882

#### Create and populate `league` table

In [29]:
park_codes['league'].value_counts()

NL    88
AL    47
AA    33
UA     9
FL     7
PL     2
Name: league, dtype: int64

In [30]:
# create `league` table
construct_league = '''
CREATE TABLE IF NOT EXISTS league (
    league_id TEXT PRIMARY KEY,
    name TEXT);
'''

# populate `league` with manual data insertion
populate_league = '''
INSERT OR IGNORE INTO league
VALUES
    ('NL','National League'),
    ('AL','American League'),
    ('AA','American Association'),
    ('UA','Union Association'),
    ('FL','Federal League'),
    ('PL','Players League');
'''

# execute
try:
    run_command(construct_league)
except:
    print('construction failed')

try:
    run_command(populate_league)
except:
    print('populate league failed')

In [31]:
# check `league` table
check_league = ('''
SELECT *
FROM league
''')
run_query(check_league)

  league_id                  name
0        NL       National League
1        AL       American League
2        AA  American Association
3        UA     Union Association
4        FL        Federal League
5        PL        Players League

#### Create and populate `appearance_type` table

In [32]:
appearance_type = pd.read_csv('appearance_type.csv')
print(appearance_type.shape)
print(appearance_type.head())

(31, 3)
  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense

In [33]:
# create `appearance_type` table
# populate with data from appearance_type dataframe

run_command('DROP TABLE IF EXISTS appearance_type;')

construct_appearance_type = '''
CREATE TABLE appearance_type (
    appearance_type_id TEXT PRIMARY KEY,
    name TEXT,
    category TEXT);
'''
run_command(construct_appearance_type)

appearance_type = pd.read_csv('appearance_type.csv')

with sqlite3.connect(db) as conn:
    appearance_type.to_sql('appearance_type',
                           conn,
                           index=False,
                           if_exists='append')

In [34]:
# check `appearance_type` table
check_apperance_type = ('''
SELECT *
FROM appearance_type
LIMIT 10
''')
run_query(check_apperance_type)

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense
5                 O6  Batter 6  offense
6                 O7  Batter 7  offense
7                 O8  Batter 8  offense
8                 O9  Batter 9  offense
9                 D1   Pitcher  defense

#### Create and populate `team` table

In [35]:
# create `team` table
construct_team = '''
CREATE TABLE IF NOT EXISTS team (
    team_id TEXT PRIMARY KEY,
    league_id TEXT,
    city TEXT,
    nickname TEXT,
    franch_id TEXT,
    FOREIGN KEY (league_id) REFERENCES league(league_id));
'''

# populate `team` with data from `team_codes`
populate_team = '''
INSERT OR IGNORE INTO team
SELECT
    team_id,
    league,
    city,
    nickname,
    franch_id
FROM team_codes;
'''

# execute
try:
    run_command(construct_team)
except:
    print('construction failed')

try:
    run_command(populate_team)
except:
    print('populate team failed')

In [36]:
# check `team` table
check_team = ('''
SELECT *
FROM team
LIMIT 10
''')
run_query(check_team)

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1
5     BL2        AA  Baltimore          Orioles       BL2
6     BLN        NL  Baltimore          Orioles       BL2
7     BL4      None  Baltimore        Marylands       BL4
8     BLA        AL  Baltimore          Orioles       BLA
9     NYA        AL   New York          Yankees       BLA

In [37]:
# create `game` table
construct_game = '''
CREATE TABLE IF NOT EXISTS game (
    game_id TEXT PRIMARY KEY,
    date TEXT,
    number_of_game INTEGER,
    park_id,
    length_outs INTEGER,
    day BOOLEAN,
    completion TEXT,
    forfeit TEXT,
    protest TEXT,
    attendance INTEGER,
    length_minutes INTEGER,
    additional_info TEXT,
    acquisition_info TEXT,
    FOREIGN KEY (park_id) REFERENCES park(park_id));
'''

# populate `game` with data from `game_log`
populate_game = '''
INSERT OR IGNORE INTO game
SELECT
    game_id,
    date,
    number_of_game,
    park_id,
    length_outs,
    CASE
        WHEN day_night = "D" THEN 1
        WHEN day_night = "N" THEN 0
        ELSE NULL
        END
        AS day,
    completion,
    forefeit,
    protest,
    attendance,
    length_minutes,
    additional_info,
    acquisition_info
FROM game_log;
'''

# execute
try:
    run_command(construct_game)
except:
    print('construction failed')

try:
    run_command(populate_game)
except:
    print('populate game failed')

In [38]:
# check `game` table
check_game = ('''
SELECT *
FROM game
LIMIT 10
''')
run_query(check_game)

,game_id,date,number_of_game,park_id,length_outs,day,completion,forfeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,18710504FW10,18710504,0,FOR01,54,1,None,None,None,200.0,120.0,None,Y
1,18710505WS30,18710505,0,WAS01,54,1,None,None,None,5000.0,145.0,HTBF,Y
2,18710506RC10,18710506,0,RCK01,54,1,None,None,None,1000.0,140.0,None,Y
3,18710508CH10,18710508,0,CHI01,54,1,None,None,None,5000.0,150.0,None,Y
4,18710509TRO0,18710509,0,TRO01,54,1,None,None,None,3250.0,145.0,HTBF,Y
5,18710511CL10,18710511,0,CLE01,48,1,None,V,None,2500.0,120.0,None,Y
6,18710513CL10,18710513,0,CIN01,54,1,None,None,None,1200.0,150.0,None,Y
7,18710513FW10,18710513,0,FOR01,54,1,None,None,None,1500.0,105.0,None,Y
8,18710515FW10,18710515,0,FOR01,54,1,None,None,None,NaN,140.0,None,Y
9,18710516BS10,18710516,0,BOS01,54,1,None,None,None,2500.0,NaN,HTBF,Y

In [39]:
# create `team_appearance` table
construct_team_appearance = '''
CREATE TABLE IF NOT EXISTS team_appearance (
    team_id TEXT,
    game_id TEXT,
    home BOOLEAN,
    league_id TEXT,
    score INTEGER,
    line_score TEXT,
    at_bats INTEGER,
    hits INTEGER,
    doubles INTEGER,
    triples INTEGER,
    homeruns INTEGER,
    rbi INTEGER,
    sacrifice_hits INTEGER,
    sacrifice_flies INTEGER,
    hit_by_pitch INTEGER,
    walks INTEGER,
    intentional_walks INTEGER,
    strikeouts INTEGER,
    stolen_bases INTEGER,
    caught_stealing INTEGER,
    grounded_into_double INTEGER,
    first_catcher_interference INTEGER,
    left_on_base INTEGER,
    pitchers_used INTEGER,
    individual_earned_runs INTEGER,
    team_earned_runs INTEGER,
    wild_pitches INTEGER,
    balks INTEGER,
    putouts INTEGER,
    assists INTEGER,
    errors INTEGER,
    passed_balls INTEGER,
    double_plays INTEGER,
    triple_plays INTEGER,
    PRIMARY KEY (team_id, game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (league_id) REFERENCES league(league_id));
'''

# populate `team_apperaance` with data from `game_log`
populate_team_appearance = '''
INSERT OR IGNORE INTO team_appearance
SELECT
    h_name,
    game_id,
    1 AS home,
    h_league,
    h_score,
    h_line_score,
    h_at_bats,
    h_hits,
    h_doubles,
    h_triples,
    h_homeruns,
    h_rbi,
    h_sacrifice_hits,
    h_sacrifice_flies,
    h_hit_by_pitch,
    h_walks,
    h_intentional_walks,
    h_strikeouts,
    h_stolen_bases,
    h_caught_stealing,
    h_grounded_into_double,
    h_first_catcher_interference,
    h_left_on_base,
    h_pitchers_used,
    h_individual_earned_runs,
    h_team_earned_runs,
    h_wild_pitches,
    h_balks,
    h_putouts,
    h_assists,
    h_errors,
    h_passed_balls,
    h_double_plays,
    h_triple_plays
FROM game_log

UNION

SELECT    
    v_name,
    game_id,
    0 AS home,
    v_league,
    v_score,
    v_line_score,
    v_at_bats,
    v_hits,
    v_doubles,
    v_triples,
    v_homeruns,
    v_rbi,
    v_sacrifice_hits,
    v_sacrifice_flies,
    v_hit_by_pitch,
    v_walks,
    v_intentional_walks,
    v_strikeouts,
    v_stolen_bases,
    v_caught_stealing,
    v_grounded_into_double,
    v_first_catcher_interference,
    v_left_on_base,
    v_pitchers_used,
    v_individual_earned_runs,
    v_team_earned_runs,
    v_wild_pitches,
    v_balks,
    v_putouts,
    v_assists,
    v_errors,
    v_passed_balls,
    v_double_plays,
    v_triple_plays
FROM game_log;
'''

# execute
try:
    run_command(construct_team_appearance)
except:
    print('construction failed')

try:
    run_command(populate_team_appearance)
except:
    print('populate team_appearance failed')

In [40]:
# check `team_appearance` table
run_query('''
SELECT *
FROM team_appearance
LIMIT 5''')

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ALT,18840417CNU0,0,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ALT,18840418CNU0,0,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,ALT,18840419CNU0,0,UA,6,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,ALT,18840424SLU0,0,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,ALT,18840426SLU0,0,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [42]:
# create `person_appearance` table
run_command('DROP TABLE IF EXISTS person_appearance')

construct_person_appearance = '''
CREATE TABLE IF NOT EXISTS person_appearance (
    appearance_id INTEGER PRIMARY KEY,
    person_id TEXT,
    team_id TEXT,
    game_id TEXT,
    appearance_type_id,
    FOREIGN KEY (person_id) REFERENCES person(person_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
);
'''

# populate `person_apperaance` with data from `game_log`
populate_person_appearance_non_players = ('''
INSERT OR IGNORE INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        NULL,
        hp_umpire_id,
        "UHP"
    FROM game_log
    WHERE hp_umpire_id IS NOT NULL    

UNION

    SELECT
        game_id,
        NULL,
        [1b_umpire_id],
        "U1B"
    FROM game_log
    WHERE "1b_umpire_id" IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        [2b_umpire_id],
        "U2B"
    FROM game_log
    WHERE [2b_umpire_id] IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        [3b_umpire_id],
        "U3B"
    FROM game_log
    WHERE [3b_umpire_id] IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        lf_umpire_id,
        "ULF"
    FROM game_log
    WHERE lf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        NULL,
        rf_umpire_id,
        "URF"
    FROM game_log
    WHERE rf_umpire_id IS NOT NULL

UNION

    SELECT
        game_id,
        v_name,
        v_manager_id,
        "MM"
    FROM game_log
    WHERE v_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        h_name,
        h_manager_id,
        "MM"
    FROM game_log
    WHERE h_manager_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_pitcher_id,
        "AWP"
    FROM game_log
    WHERE winning_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score < v_score THEN h_name
            ELSE v_name
            END,
        losing_pitcher_id,
        "ALP"
    FROM game_log
    WHERE losing_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        saving_pitcher_id,
        "ASP"
    FROM game_log
    WHERE saving_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_rbi_batter_id,
        "AWB"
    FROM game_log
    WHERE winning_rbi_batter_id IS NOT NULL

UNION

    SELECT
        game_id,
        v_name,
        v_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE v_starting_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        h_name,
        h_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE h_starting_pitcher_id IS NOT NULL;
''')

populate_person_appearance_players = ('''
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}"
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION

    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
''')

# execute
try:
    run_command(construct_person_appearance)
except:
    print('construction failed')

try:
    run_command(populate_person_appearance_non_players)
except:
    print('populate person_appearance_non_players failed')
    
for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        try:
            run_command(populate_person_appearance_players.format(**query_vars))
        except:
            print('populate person_appearance_players failed')

In [47]:
# check the person_appearance table by comparing the number of unique game_id
# between game table vs person_appearance table
print(
    run_query('''
SELECT COUNT(DISTINCT game_id)
FROM game
''')
)

print(
    run_query('''
SELECT COUNT(DISTINCT game_id)
FROM person_appearance
''')
)

# check the person_appearance table by constructing a table that shows all
# the participating umpires/coaches/players
run_query('''
SELECT
    pa.game_id,
    pa.team_id,
    pa.person_id,
    at.name,
    at.category
FROM person_appearance pa
INNER JOIN appearance_type at ON at.appearance_type_id = pa.appearance_type_id
WHERE game_id = (SELECT MAX(game_id) FROM person_appearance)
ORDER BY team_id, at.category, at.name
''')

   COUNT(DISTINCT game_id)
0                   171907
   COUNT(DISTINCT game_id)
0                   171907

         game_id team_id person_id                name category
0   20161002WAS0    None  porta901          First Base   umpire
1   20161002WAS0    None  tumpj901          Home Plate   umpire
2   20161002WAS0    None  onorb901         Second Base   umpire
3   20161002WAS0    None  kellj901          Third Base   umpire
4   20161002WAS0     MIA  brica001      Losing Pitcher    award
5   20161002WAS0     MIA  bourj002            1st Base  defense
6   20161002WAS0     MIA  gordd002            2nd Base  defense
7   20161002WAS0     MIA  pradm001            3rd Base  defense
8   20161002WAS0     MIA  telit001             Catcher  defense
9   20161002WAS0     MIA  yelic001        Center Field  defense
10  20161002WAS0     MIA  scrux001          Left Field  defense
11  20161002WAS0     MIA  koeht001             Pitcher  defense
12  20161002WAS0     MIA  hoodd001         Right Field  defense
13  20161002WAS0     MIA  hecha001           Shortstop  defense
14  20161002WAS0     MIA  mattd001             Manager  manager
15  20161002WAS0     MIA  gordd002            Batter 1  offense
16  20161002WAS0     MIA  telit001            Batter 2  offense
17  20161002WAS0     MIA  pradm001            Batter 3  offense
18  20161002WAS0     MIA  yelic001            Batter 4  offense
19  20161002WAS0     MIA  bourj002            Batter 5  offense
20  20161002WAS0     MIA  scrux001            Batter 6  offense
21  20161002WAS0     MIA  hoodd001            Batter 7  offense
22  20161002WAS0     MIA  hecha001            Batter 8  offense
23  20161002WAS0     MIA  koeht001            Batter 9  offense
24  20161002WAS0     MIA  koeht001    Starting Pitcher  pitcher
25  20161002WAS0     WAS  melam001      Saving Pitcher    award
26  20161002WAS0     WAS  schem001     Winning Pitcher    award
27  20161002WAS0     WAS  difow001  Winning RBI Batter    award
28  20161002WAS0     WAS  zimmr001            1st Base  defense
29  20161002WAS0     WAS  difow001            2nd Base  defense
30  20161002WAS0     WAS  drews001            3rd Base  defense
31  20161002WAS0     WAS  lobaj001             Catcher  defense
32  20161002WAS0     WAS  turnt001        Center Field  defense
33  20161002WAS0     WAS  reveb001          Left Field  defense
34  20161002WAS0     WAS  schem001             Pitcher  defense
35  20161002WAS0     WAS  harpb003         Right Field  defense
36  20161002WAS0     WAS  espid001           Shortstop  defense
37  20161002WAS0     WAS  baked002             Manager  manager
38  20161002WAS0     WAS  turnt001            Batter 1  offense
39  20161002WAS0     WAS  reveb001            Batter 2  offense
40  20161002WAS0     WAS  harpb003            Batter 3  offense
41  20161002WAS0     WAS  zimmr001            Batter 4  offense
42  20161002WAS0     WAS  drews001            Batter 5  offense
43  20161002WAS0     WAS  difow001            Batter 6  offense
44  20161002WAS0     WAS  espid001            Batter 7  offense
45  20161002WAS0     WAS  lobaj001            Batter 8  offense
46  20161002WAS0     WAS  schem001            Batter 9  offense
47  20161002WAS0     WAS  schem001    Starting Pitcher  pitcher

In [52]:
# drop tables that are not being used for the final database
# ie: the original tables used for populating the newly normalized database
drop_table = ["game_log", "park_codes", 'team_codes', 'person_codes']
for t in drop_table:
        command = 'DROP TABLE {}'.format(t)
        run_command(command)

In [53]:
show_tables()

                name   type
0             person  table
1               park  table
2             league  table
3    appearance_type  table
4               team  table
5               game  table
6    team_appearance  table
7  person_appearance  table